/* COMMON */
body {
  font-size: 16px;
  /* font-weight: 400; */
  color: #333;
  font-family: 'Nanum Gothic', sans-serif;
}
.inner {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  /* background-color: orange; */
}
a {
  text-decoration: none;
}

/* MAIN */
.main .inner {
  height: 720px;
}
.main .inner .search {
  width: 500px;
  height: 50px;
  position: absolute;
  right: calc((1200px - 500px) / 2);
  top: calc((720px - 40px) / 2);
  outline: none;
  border: 2px solid #e5e3dd;;
  border-radius: 15px;
  padding: 12px 50px 12px 15px;
  box-sizing: border-box;
  font-size: 20px;
  transition: .3s;
  background-color: #f5f4f2;
  transition: .7s;
}

.main .inner .search:focus {
  border: 2px solid #004c81;;
  background-color: #ffffff;
}
.main .inner .searchIcon {
  font-size: 37px;
  font-weight: 700;
  color: #94918d;
  position: absolute;
  right: calc((1200px - 500px) / 2);
  top: calc((720px - 40px) / 2);
  padding: 5px 8px;
  cursor: pointer;
}
/* .main .inner .navy {
  color: #004c81;
} */
.main .inner p {
  visibility: hidden;
  font-size: 14px;
  font-weight: 900;
  color: #FF0000;
  position: absolute;
  left: 360px;
  top: 395px;
}
.main .inner .visible {
  visibility: visible;
}
.main .inner .description {
  /* background-color: red; */
  width: 400px;
  font-size: 14px;
  text-align: center;
  color: #333;
  position: absolute;
  top: calc((720px - 40px) / 2 + 120px);
  left: calc((1200px - 400px) / 2)
}
