/* COMMON */
body {
  color: #333;
  font-family: 'Nanum Gothic', sans-serif;
}
/* MAIN */
.main .inner {
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}
.main .inner .search {
  width: 500px;
  height: 50px;
  border: 2px solid #e5e3dd;
  border-radius: 15px;
  padding: 12px 50px 12px 15px;
  box-sizing: border-box;
  outline: none;
  font-size: 20px;
  background-color: #f5f4f2;
  position: absolute;
  left: calc((1200px - 500px) / 2);
  top: calc((100vh - 50px) / 2);
  transition: .7s;
}
.main .inner .search:focus {
  border: 2px solid #004c81;;
  background-color: #ffffff;
  box-shadow: 5px 5px rgba(0, 76, 129, .7);
}
.main .inner .searchIcon {
  width: 50px;
  height: 50px;
  font-size: 40px;
  font-weight: 900;
  color: #94918d;
  padding: 5px;
  box-sizing: border-box;
  position: absolute;
  right: calc((1200px - 500px) / 2);
  top: calc((100vh - 50px) / 2);
  cursor: pointer;
}
.main .inner .navy {
  color: #004c81;
}
.main .inner p {
  visibility: hidden;
  font-size: 14px;
  font-weight: 900;
  color: #e07f7f;
  position: absolute;
  left: calc((1200px - 500px) / 2 + 15px);
  bottom: 310px;
}
.main .inner .visible {
  visibility: visible;
}