body {
  font-family: 'Nanum Gothic', sans-serif;
}

.inner {
  width: 710px;
  margin: 0 auto;
}
.inner .result {
  height: 80px;
  padding: 20px 0;
  box-sizing: border-box;
}
.inner .result p {
  font-size: 30px;
} 
.inner .result p span {
  font-weight: 700;
  color: #004c81;
}
.inner #movieList {
  display: flex;
  flex-wrap: wrap;
  height: 590px;
  /* background-color: beige; */
}
.inner #movieList .movie {
  margin: 0 30px 30px 0;
}
.inner #movieList .movie:nth-child(4n) {
  margin-right: 0;
}
.inner #movieList .movie .moviePoster {
  width: 155px;
  height: 220px;
  border: 1px solid #7e7878;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
}
.inner #movieList .movie .noMoviePoster {
  width: 155px;
  height: 220px;
  border: 1px solid #7e7878;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #b1a9a9;
  overflow: hidden;
  position: relative;
}
.inner #movieList .movie .noMoviePoster p {
  text-align: center;
  line-height: 1.3;
  width: 155px;
  height: 60px;
  position: absolute;
  top: calc((220px - 60px) /2);
}
.inner #movieList .movie .movieTitle {
  font-weight: 700;
}
.inner #movieList .movie .movieTitle,
.inner #movieList .movie .movieYear {
  width: 155px;
  height: 16px;
  font-size: 13px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 5px;
}
.inner .pagination {
  display: flex;
  justify-content: center;
}
.inner .pagination a {
  width: 32px;
  height: 32px;
  font-size: 20px;
  color: #333;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
  padding: 5px;
  border: 2px solid #7e7878;
  border-radius: 50%;
  box-sizing: border-box;
  transition: .3s;
}
.inner .pagination a:last-child {
  margin-right: 0;
}
.inner .pagination a:hover {
  cursor: pointer;
  color: #004c81;
  border: 2px solid #004c81;
  transform: scale(1.1);
}