/* COMMON */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inner {
  width: 600px;
  height: 500px;
  color: #333;
  position: relative;
}
.inner .searchRes {
  height: 120px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.inner .searchRes .searchTerm {
  color: #fc0303;
  font-weight: 700;
}
.inner .material-icons {
  font-size: 150px;
  font-weight: 100;
  padding-bottom: 50px;
}
.inner .description1 {
  width: inherit;
  font-size: 20px;
}
.inner .description2 {
  width: inherit;
  font-size: 16px;
  line-height: 1.5;
  margin: 20px 0 30px;
}
.btn {
  width: 150px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  transition: .4s;
}

.btn:hover {
  background-color: #333;
  color: #fff;
}