/* COMMON */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inner {
  width: 600px;
  height: 400px;
  color: #333;
  position: relative;
}
.inner .searchRes {
  height: 80px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.inner .searchRes .searchTerm {
  color: #fc0303;
  font-weight: 700;
}
.inner .material-icons {
  font-size: 150px;
  font-weight: 100;
  padding-bottom: 50px;
}
.inner .description1 {
  width: inherit;
  font-size: 20px;
}
.inner .description2 {
  width: inherit;
  font-size: 16px;
  line-height: 1.5;
  position: absolute;
  bottom: 0;
}